@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


pre {
  font-family: "Poppins", sans-serif;
}

select {
  background-color: #4682b4;
  color: #fff;
}

option {
  background-color: #fff;
  color: #000;
}

.swiper-button-prev {
  background-image: url(./assets/svg/left-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next {
  background-image: url(./assets/svg/right-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}
